@font-face {
  font-family: 'Hind-Regular';
  src: local('Hind-Regular'), url(./assets/fonts/Hind-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Hind-Medium';
  src: local('Hind-Medium'), url(./assets/fonts/Hind-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Hind-SemiBold';
  src: local('Hind-SemiBold'), url(./assets/fonts/Hind-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: local('PlayfairDisplay-Regular'), url(./assets/fonts/PlayfairDisplay-Regular.ttf) format('truetype');
}

html {
  font-size: 100%;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscaled;
}

body, #root {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 100%;
  color: #323C46;
  font-family: Hind-Regular,sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

button:focus {
  outline:0;
}

a {
  text-decoration: none;
}